/*
_________________________________________________________________________
------------------------ EMBY THEME : DARK COLORS -----------------------

                 ---------- Table of Contents ---------- 

	3. DARK COLORS 	
	   3.1 Buttons
	       3.1.1 Checkboxes
		   3.1.2 Rectangles
		   3.1.3 Links & Text buttons
		   3.1.4 Others
	   3.2 Details
	       3.2.1 Fonts
		   3.2.2 Icons
		   3.2.3 Backgrounds
		   3.2.4 Dialogs & Action Sheets
		   3.2.5 Others
		   
*/
/* ------------------------- 3. DARK COLORS -------------------------- */
/* ----- 3.1 Buttons ----- */
/* 3.1.1 Checkboxes */
.checkboxOutline {
    border-color: #fff !important; }
	
/* 3.1.2 Rectangles */
/* 3.1.3 Links & Text buttons */
/* 3.1.4 Others */
/* Circles */
.fab {
    color: #fff !important; }
	
/* ----- 3.2 Details ----- */
/* 3.2.1 Fonts */
html {
    color: #fff !important; }

.paperListLabel, .selectLabelUnfocused, .inputLabelUnfocused, 
.textareaLabelUnfocused, .secondaryText, .inputLabel, 
.fieldDescription {
    color: #aaa !important; }

.cardText-secondary {
    color: #888 !important; }

.visualCardBox .cardText-secondary {
    color: inherit !important;
    opacity: .5 !important; }

.listItem .secondary, .nowPlayingBarSecondaryText {
    color: #999 !important; }
	
/* 3.2.2 Icons */
.searchfields-icon.md-icon {
    color: #fff !important; }
	
/* 3.2.3 Backgrounds */
.backgroundContainer {
    background-color: #191919 !important; }

.backgroundContainer.withBackdrop {
    background-color: rgba(6, 6, 6, .94) !important;
    background: linear-gradient(to right, rgba(0, 0, 0, .99), rgba(0, 0, 0, .94), rgba(0, 0, 0, .5)) !important; }

.paperList, .visualCardBox, .formDialogHeader:not(.formDialogHeader-clear) {
    background-color: #222326 !important; }
	
.formDialogFooter:not(.formDialogFooter-clear) {
    background-color: #222326 !important;
    border-top: 1px solid #222326 !important;	}

.sessionCardFooter {
    border-top: 1px solid #383838 !important; }

.collapseContent {
    background-color: #121212 !important; }

.emby-select-withcolor {
    color: inherit;
    background: #383838 !important;
    border: .07em solid rgba(0,0,0,.158);
    -webkit-border-radius: .15em;
    border-radius: .15em; }

.emby-input, .emby-textarea {
    color: inherit;
    background: #383838 !important;
    border: .07em solid rgba(0,0,0,.158);
    -webkit-border-radius: .15em;
    border-radius: .15em; }
	
/* 3.2.4 Dialogs & Action Sheets */
/* 3.2.5 Others */
.emby-textarea, .emby-input, .emby-collapsible-button, .emby-select {
    border-color: #383838 !important; }

.dialog {
    background-color: #191919 !important; }

.actionSheetMenuItem:hover {
	background-color: #222 !important; }

/* Report Manager Page & Auto-Organize */
.detailTable tbody tr:nth-child(odd) td, 
.detailTable tbody tr:nth-child(odd) th,
 .stripedTable tbody tr:nth-child(odd) td, 
 .stripedTable tbody tr:nth-child(odd) th {
    background-color: #252528 !important; }
	
.detailTableBodyRow-shaded:nth-child(even), .listItem-shaded:nth-child(even) {
    background: rgba(30, 30, 30, 0.9) !important; }
