/* 
_________________________________________________________________________
------------------------- COLOR HEX & RGB CODES -------------------------
		
	RED 	    : #E81123 & (232, 17, 35)
	DARK COLOR  : #94131E

	ORANGE      : #FF8000 & (255, 128, 0)
	DARK COLOR  : #BF6000

	ORANGE PLEX : #CC7B19 & (204, 123, 25)
	DARK COLOR  : #B35A00

	YELLOW      : #BDBD00 & (189, 189, 0)
	DARK COLOR  : #757500

	GREEN       : #52B54B & (82, 181, 75)
	DARK COLOR  : #3E8437

	BLUE	    : #4285F4 & (66, 133, 244)
	DARK COLOR  : #0C57D6

	PURPLE      : #673AB7 & (103, 58, 183)
	DARK COLOR  : #3F2471

	GRAY	    : #7F7F7F & (127, 127, 127)
	DARK COLOR  : #535353

	PINK	    : #F707DF & (247, 7, 223)
	DARK COLOR  : #C604B3
	
*/
/*
_________________________________________________________________________
---------------------------- EMBY DARK THEME ----------------------------

                 ---------- Table of Contents ---------- 

	1. ACCENT COLORS
	   1.1 Buttons
	       1.1.1 Checkboxes
		   1.1.2 Rectangles
		   1.1.3 Links & Text buttons
		   1.1.4 Others
	   1.2 Details
	       1.2.1 Circles
		   1.2.2 Indicators
		   1.2.3 Fonts
		   1.2.4 Icons
		   1.2.5 Dialogs & Action Sheets
		   1.2.6 Others
	   1.3 Fixes
	   
	2. MISCELLANEOUS MODIFICATIONS
	   2.1 Buttons
	   2.2 Details
	       2.2.1 Scrollbars
	       2.2.2 Logos
	       2.2.3 Others
	   2.3 Fixes

	3. DARK COLORS 	
	   3.1 Buttons
	       3.1.1 Checkboxes
		   3.1.2 Rectangles
		   3.1.3 Links & Text buttons
		   3.1.4 Others
	   3.2 Details
	       3.2.1 Fonts
		   3.2.2 Icons
		   3.2.3 Backgrounds
		   3.2.4 Dialogs & Action Sheets
		   3.2.5 Others
		   
		   
*/
/* ------------------------ 1. ACCENT COLORS ------------------------- */
/* ----- 1.1 Buttons ----- */
/* 1.1.1 Checkboxes */
.emby-checkbox:checked + span + span + .checkboxOutline > .checkboxOutlineTick {
  background-color: #7F7F7F !important; }

.emby-checkbox:checked + span + span + .checkboxOutline,
.progressring-spiner {
  border-color: #7F7F7F !important; }

.emby-checkbox:focus + span + .emby-checkbox-focushelper {
  background-color: #7F7F7F !important;
  opacity: 0.26 !important; }

/* 1.1.2 Rectangles */
.raised {
  background: #404040 !important;
  color: #fff !important; }

.button-submit, .button-accent {
  background: #7F7F7F !important;
  color: #fff; }

.raised-mini.emby-button {
  background: #7F7F7F !important;
  color: #ffffff !important; }

/* Restart */
.btnRestartContainer.emby-button {
  background: #7F7F7F !important;
  color: #fff; }

/* Play & Resume */
.btnPlaySimple.emby-button {
  background: #7F7F7F !important;
  color: #fff; }

.btnResume.emby-button {
  background: #535353 !important;
  color: #fff; }

/* 1.1.3 Links & Text buttons */
.button-link, .button-flat-accent, .button-accent-flat,
.textlink {
  color: #7F7F7F !important; }

.button-link:hover, .button-flat-accent:hover,
.button-accent-flat:hover, .textlink:hover {
  color: #9b9b9b !important; }

.button-link:active, .button-flat-accent:active,
.button-accent-flat:active, .textlink:active {
  color: #535353 !important; }

/* Top Header */
.emby-tab-button-active {
  color: #7F7F7F !important; }

/* 1.1.4 Others */
/* Alpha Picker */
.alphaPickerButton-selected, .alphaPickerButton-tv:focus {
  background-color: #7F7F7F !important;
  color: #fff !important; }

/* Radio Buttons */
.mdl-radio__inner-circle {
  background: #7F7F7F !important; }

.mdl-radio__button:checked + .mdl-radio__label + .mdl-radio__outer-circle {
  border: 2px solid #7F7F7F !important; }

.mdl-radio__button:checked:focus + .mdl-radio__label + .mdl-radio__outer-circle + .mdl-radio__inner-circle {
  -webkit-box-shadow: 0 0 0 10px rgba(127, 127, 127, 0.26) !important;
  box-shadow: 0 0 0 10px rgba(127, 127, 127, 0.26) !important; }

/* Control Group Buttons */
div[data-role="controlgroup"] a.ui-btn-active[data-role='button'] {
  background: #7F7F7F !important;
  color: #ffffff !important; }

/* ----- 1.2 Details ----- */
/* 1.2.1 Circles */
/*.listItemIcon:not(.listItemIcon-transparent) {
    background-color: $accent-color !important; }*/
i.listItemIcon.md-icon {
  background-color: #7F7F7F; }

.dashboardSection i.listItemIcon.md-icon {
  background-color: #7F7F7F !important; }

.scheduledTaskPaperIconItem[data-status="Running"] i.listItemIcon.md-icon {
  background-color: #535353 !important; }

.lnkDisplayPreferences i.md-icon.listItemIcon,
.lnkHomeScreenPreferences i.md-icon.listItemIcon,
.lnkLanguagePreferences i.md-icon.listItemIcon,
.lnkSubtitleSettings i.md-icon.listItemIcon,
.lnkMyProfile i.md-icon.listItemIcon {
  background-color: #535353 !important; }

/* Focus Helper circles */
.paper-icon-button-light:focus {
  color: #7F7F7F !important; }

/* 1.2.2 Indicators */
.countIndicator, .playedIndicator {
  background: #7F7F7F !important; }

.levelNormal {
  background-color: #7F7F7F !important; }

.fullSyncIndicator {
  background: #7F7F7F !important;
  color: #fff; }

.playstatebutton-played i, .ratingbutton-withrating i {
  color: #7F7F7F !important; }

p#pUpToDate i.md-icon {
  background-color: #7F7F7F !important; }

/* Loading Spinners */
.mdl-spinner__layer-1, .mdl-spinner__layer-2, .mdl-spinner__layer-3,
.mdl-spinner__layer-4 {
  border-color: #7F7F7F !important; }

.progressring-spiner {
  border: 0.25em solid #7F7F7F !important; }

/* 1.2.3 Fonts */
.selectLabelFocused, .textareaLabelFocused, .inputLabelFocused {
  color: #7F7F7F !important; }

.secondary.listItemBodyText span, div#divRunningTasks span {
  color: #7F7F7F !important; }

/* 1.2.4 Icons */
.starIcon, .mediaInfoTimerIcon {
  color: #7F7F7F !important; }

/* Top Header */
.btnActiveCast {
  color: #7F7F7F !important; }

/* Now Playing Bar & Now Playing Page */
.repeatActive,
button.btnCommand.repeatToggleButton.autoSize.nowPlayingPageRepeatActive {
  color: #7F7F7F !important; }

/* 1.2.5 Dialogs & Action Sheets */
/* 1.2.6 Others */
/* General Accent Color Modifications */
:focus {
  outline: #7F7F7F auto 5px; }

select:focus {
  border-color: #7F7F7F !important; }

::selection {
  background-color: #535353 !important; }

/* Google Now Playing Bar & Now Playing Page */
.iconOsdProgressInner, .mdl-slider__background-lower, .sliderBubble,
.mdl-slider::-webkit-slider-thumb {
  background: #7F7F7F !important; }

.mdl-slider:focus::-webkit-slider-thumb {
  -webkit-box-shadow: 0 0 0 10px rgba(127, 127, 127, 0.26);
  box-shadow: 0 0 0 10px rgba(127, 127, 127, 0.26) !important; }

/* Firefox Now Playing Bar & Now Playing Page */
.mdl-slider::-moz-range-thumb, .mdl-slider::-moz-range-progress {
  background: #7F7F7F !important; }

.mdl-slider:focus::-moz-range-thumb {
  box-shadow: 0 0 0 10px rgba(127, 127, 127, 0.26) !important; }

/* Progress Bars */
.itemProgressBarForeground {
  background-color: #7F7F7F !important; }

.taskProgressInner {
  background: #7F7F7F !important; }

/* Google Progress Bars */
progress::-webkit-progress-value {
  background: #7F7F7F !important; }

/* Firefox Progress Bars */
progress::-moz-progress-bar {
  background: #7F7F7F !important; }

/* Edge Progress Bars */
progress {
  background: #7F7F7F !important; }

/* Main Drawers */
.navMenuDivider {
  background: #262626 !important; }

.adminDrawerLogo {
  border-bottom: 1px solid #262626 !important; }

.mainDrawer {
  background: #181818 !important; }

.sidebarHeader {
  color: #bbbbbb !important; }

.navMenuOption {
  color: #ffffff !important; }

.navMenuOption.navMenuOption-selected {
  background: #252528 !important;
  color: #7F7F7F !important; }

.navMenuOption:hover {
  background: #252528 !important;
  color: #9b9b9b !important; }

/* Metadata Editor */
div.jstree-wholerow.jstree-wholerow-clicked:hover,
div.jstree-wholerow.jstree-wholerow-clicked,
div.jstree-wholerow.jstree-wholerow-hovered {
  background: #252528 !important; }

.jstree-anchor.jstree-clicked,
.jstree-anchor.jstree-clicked.jstree-hovered {
  background: #252528 !important;
  color: #7F7F7F !important; }

/* Multi-select */
.itemSelectionPanel {
  border: 1px solid #7F7F7F !important; }

.selectionCommandsPanel {
  background: #7F7F7F !important;
  color: #fff; }

/* upNextDialog */
.upNextDialog-countdownText {
  color: #7F7F7F !important; }

/* Selection Bars */
.emby-select-selectionbar, .emby-textarea-selectionbar,
.emby-input-selectionbar {
  background-color: #7F7F7F !important; }

/* Media Info Detail Image */
.itemDetailImage.loaded:hover {
  border: 1px solid #7F7F7F !important; }

/* 1.3 Fixes */
/* ------------------ 2. MISCELLANEOUS MODIFICATIONS ----------------- */
/* ----- 2.1 Buttons ----- */
/* Circles */
.fab {
  background-color: transparent !important;
  color: #fff !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-transition: none !important;
  -o-transition: none !important;
  transition: none !important; }

/* ----- 2.2 Details ----- */
/* 2.2.1 Scrollbars */
/* Google Chrome */
::-webkit-scrollbar-corner {
  background-color: #3B3B3B; }

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #3B3B3B; }

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: #888888; }

/* Google Chrome - Dashboard Drawer */
div.scrollContainer.smoothScrollY::-webkit-scrollbar-corner {
  background-color: transparent !important; }

div.scrollContainer.smoothScrollY::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  background-color: transparent !important; }

div.scrollContainer.smoothScrollY::-webkit-scrollbar-thumb {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: #888888; }

/* Google Chrome - Filter Dialog */
.dynamicFilterDialog::-webkit-scrollbar-corner {
  background-color: transparent !important; }

.dynamicFilterDialog::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  background-color: transparent !important; }

.dynamicFilterDialog::-webkit-scrollbar-thumb {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: #888888; }

/* 2.2.2 Logos */
/* Login Page */
.imgLogoIcon {
  content: url(https://cdn.rawgit.com/BenZuser/Emby-Dark-Themes-Resources/master/images/logos-and-icons/GRAY/logo.png) !important; }

/* Main Drawer Mobile */
.adminDrawerLogo img {
  content: url(https://cdn.rawgit.com/BenZuser/Emby-Dark-Themes-Resources/master/images/logos-and-icons/GRAY/logo.png) !important; }

/* Home Page */
.pageTitleWithLogo {
  background-image: url(https://cdn.rawgit.com/BenZuser/Emby-Dark-Themes-Resources/master/images/logos-and-icons/GRAY/logo.png) !important; }

/* 2.2.3 Others	*/
/* CSS Box */
#txtCustomCss {
  height: 300px !important;
  overflow-y: scroll !important; }

/* Select Box */
select option {
  background-color: #2b2b2b !important;
  color: #ffffff !important; }

/* Dialogs */
.formDialogHeader:not(.formDialogHeader-clear),
.formDialogFooter:not(.formDialogFooter-clear) {
  background-color: #121212 !important;
  color: #fff; }

/* Headers */
.skinHeader {
  background-color: #080808 !important;
  color: #fff !important; }

.skinHeader-withBackground {
  background-color: #080808 !important; }

@supports (backdrop-filter: blur(1.5em)) or (-webkit-backdrop-filter: blur(1.5em)) {
  .skinHeader-blurred {
    background: rgba(20, 20, 20, 0.7) !important;
    -webkit-backdrop-filter: blur(1.5em) !important;
    backdrop-filter: blur(1.5em) !important; } }
.skinHeader.semiTransparent {
  -webkit-backdrop-filter: none !important;
  backdrop-filter: none !important;
  background-color: rgba(0, 0, 0, 0.4) !important;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, rgba(0, 0, 0, 0.7)), color-stop(10%, transparent)) !important;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.7) 10%, transparent) !important;
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.7) 10%, transparent) !important;
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.7) 10%, transparent) !important;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 10%, transparent) !important; }

.appfooter {
  background: #080808 !important;
  color: #fff !important; }

@supports (backdrop-filter: blur(10px)) or (-webkit-backdrop-filter: blur(10px)) {
  .appfooter-blurred {
    background: rgba(24, 24, 24, 0.7) !important;
    -webkit-backdrop-filter: blur(20px) !important;
    backdrop-filter: blur(20px) !important; } }
/* TV Global Modifications */
.emby-tab-button-active.emby-button-tv {
  color: #fff !important; }

.guide-channelHeaderCell, .guide-channelTimeslotHeader {
  background: #2e2e2e !important; }

.guide-programTextIcon {
  color: #1e1e1e !important;
  background: #555 !important; }

.guide-headerTimeslots {
  color: #ccc !important; }

/* ----- 2.3 Fixes ----- */
/* Report Manager Page */
.detailTable tbody tr:nth-child(odd) td,
.detailTable tbody tr:nth-child(odd) th,
.stripedTable tbody tr:nth-child(odd) td,
.stripedTable tbody tr:nth-child(odd) th {
  background-color: #252528 !important; }

/* ------------------------- 3. DARK COLORS -------------------------- */
/* ----- 3.1 Buttons ----- */
/* 3.1.1 Checkboxes */
.checkboxOutline {
  border-color: #fff !important; }

/* 3.1.2 Rectangles */
/* 3.1.3 Links & Text buttons */
/* 3.1.4 Others */
/* ----- 3.2 Details ----- */
/* 3.2.1 Fonts */
html {
  color: #fff !important; }

.paperListLabel, .selectLabelUnfocused, .inputLabelUnfocused,
.textareaLabelUnfocused, .secondaryText, .inputLabel,
.fieldDescription {
  color: #aaa !important; }

.cardText-secondary {
  color: #888 !important; }

.visualCardBox .cardText-secondary {
  color: inherit !important;
  opacity: .5 !important; }

.listItem .secondary, .nowPlayingBarSecondaryText {
  color: #999 !important; }

/* 3.2.2 Icons */
.searchfields-icon.md-icon {
  color: #fff !important; }

/* 3.2.3 Backgrounds */
.backgroundContainer {
  background-color: #191919 !important; }

.backgroundContainer.withBackdrop {
  background-color: rgba(6, 6, 6, 0.94) !important;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.99), rgba(0, 0, 0, 0.94), rgba(0, 0, 0, 0.5)) !important; }

.paperList, .visualCardBox, .formDialogHeader:not(.formDialogHeader-clear) {
  background-color: #222326 !important; }

.formDialogFooter:not(.formDialogFooter-clear) {
  background-color: #222326 !important;
  border-top: 1px solid #222326 !important; }

.sessionCardFooter {
  border-top: 1px solid #383838 !important; }

.collapseContent {
  background-color: #121212 !important; }

.autoorganizetable tbody tr:nth-child(odd) td, .autoorganizetable tbody tr:nth-child(odd) th {
  background-color: #222326 !important; }

.autoorganizetable > .table > tbody > tr {
  border: 1px solid #222326 !important; }

/* 3.2.4 Dialogs & Action Sheets */
/* 3.2.5 Others */
.emby-textarea, .emby-input, .emby-collapsible-button, .emby-select {
  border-color: #383838 !important; }

.dialog {
  background-color: #191919 !important; }

.actionSheetMenuItem:hover {
  background-color: #222 !important; }

/*
_____________________________________________________________________

    Emby Dark Themes is maintained by Ben Z (BenZuser)
    with the contribution of Happy2Play.
_____________________________________________________________________

*/
/*
    Wait for updates :

    * a (accent color) 
	   From : searchSuggestionsList
	   From : noItemsMessage
	   From : lnkPremiere
	  
    * -
*/
/* TEMPORARY FIXES */
/* Links */
.searchSuggestionsList a, .noItemsMessage a, a.lnkPremiere {
  color: #7F7F7F !important; }

.searchSuggestionsList a:hover, .noItemsMessage a:hover,
a.lnkPremiere:hover {
  color: #9b9b9b !important; }

.searchSuggestionsList a:active, .noItemsMessage a:active,
a.lnkPremiere:active {
  color: #535353 !important; }
