/* 
	EMBY VERSION : 3.1.6084.26495
_________________________________________________________________________
------------------------- COLOR HEX & RGB CODES -------------------------
		
	RED 	    : #E81123 & (232, 17, 35)
	DARK COLOR  : #94131E

	ORANGE      : #FF8000 & (255, 128, 0)
	DARK COLOR  : #BF6000

	ORANGE PLEX : #CC7B19 & (204, 123, 25)
	DARK COLOR  : #B35A00

	YELLOW      : #BDBD00 & (189, 189, 0)
	DARK COLOR  : #757500

	GREEN       : #52B54B & (82, 181, 75)
	DARK COLOR  : #3E8437

	BLUE	    : #4285F4 & (66, 133, 244)
	DARK COLOR  : #0C57D6

	PURPLE      : #673AB7 & (103, 58, 183)
	DARK COLOR  : #3F2471

	GRAY	    : #7F7F7F & (127, 127, 127)
	DARK COLOR  : #535353

	PINK	    : #F707DF & (247, 7, 223)
	PINK (DARK) : #C604B3

	
	White 1     : #ffffff - Real white
	White 2     : #bbbbbb - Sidelink icons & second white
	
	Gray 1      : #aaaaaa - Field descriptions & secondary texts
	Gray 2      : #9b9b9b - Hover links
	Gray 3      : #4d4d4d - Hover sidelink backgrounds
	Gray 4	    : #404040 - Button backgrounds
	
	Dark Gray 1 : #343434 - Dividers & lines
	Dark Gray 2 : #2b2b2b - Panel & card backgrounds
	Dark Gray 3 : #222222 - Main drawers backgrounds
	Dark Gray 4 : #181818 - Main backgrounds
	
	Black 1     : #101010 - Dialog header backgrounds
	Black 2     : #080808 - Light black
	Black 3     : #010101 - Pop-up dialog backgrounds

*/
/*
_________________________________________________________________________
---------------------------- EMBY DARK THEME ----------------------------

                 ---------- Table of Contents ---------- 

	1. ACCENT COLORS
	   1.1 Buttons
	       1.1.1 Checkboxes
	       1.1.2 Circles
		   1.1.3 Radio Buttons
	       1.1.4 Icons
	       1.1.5 Rectangles
	       1.1.6 Pop-up Dialogs
	       1.1.7 Others
	   1.2 Details
	       1.2.1 Icons
	       1.2.2 Fonts
	       1.2.3 Main Drawers
	       1.2.4 Metadata Editor
	       1.2.5 Others			
	2. MISCELLANEOUS MODIFICATIONS
	   2.1 Buttons
	   2.2 Details
	       2.2.1 Scrollbars
	       2.2.2 Home Drawer
		   2.2.3 Metadata Editor
	       2.2.4 Others
	   2.3 Corrections
	3. REMOVED ELEMENTS
	   3.1 Home
	   3.2 Dashboard
	   3.3 Metadata Editor
	   3.4 Others
	4. DARK COLORS 	
	   4.1 Buttons
	       4.1.1 Checkboxes
		   4.2.2 Radio Buttons
	       4.1.3 Rectangles
	       4.1.4 Others
	   4.2 Details
	       4.2.1 Icons
	       4.2.2 Fonts
	       4.2.3 Dashboard Drawer
	       4.2.4 Pop-up Dialogs
	       4.2.5 Backgrounds
	       4.2.6 Others
			
*/
/* ------------------------ 1. ACCENT COLORS ------------------------- */
/* ----- 1.1 Buttons ----- */
/* 1.1.1 Checkboxes */
/* Multiple Elements - Future Proof */
.mdl-checkbox__input:checked + span + span + .checkboxOutline .mdl-checkbox__tick-outline {
  background: #7F7F7F url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjxzdmcKICAgeG1sbnM6ZGM9Imh0dHA6Ly9wdXJsLm9yZy9kYy9lbGVtZW50cy8xLjEvIgogICB4bWxuczpjYz0iaHR0cDovL2NyZWF0aXZlY29tbW9ucy5vcmcvbnMjIgogICB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiCiAgIHhtbG5zOnN2Zz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciCiAgIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIKICAgdmVyc2lvbj0iMS4xIgogICB2aWV3Qm94PSIwIDAgMSAxIgogICBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJ4TWluWU1pbiBtZWV0Ij4KICA8cGF0aAogICAgIGQ9Ik0gMC4wNDAzODA1OSwwLjYyNjc3NjcgMC4xNDY0NDY2MSwwLjUyMDcxMDY4IDAuNDI5Mjg5MzIsMC44MDM1NTMzOSAwLjMyMzIyMzMsMC45MDk2MTk0MSB6IE0gMC4yMTcxNTcyOSwwLjgwMzU1MzM5IDAuODUzNTUzMzksMC4xNjcxNTcyOSAwLjk1OTYxOTQxLDAuMjczMjIzMyAwLjMyMzIyMzMsMC45MDk2MTk0MSB6IgogICAgIGlkPSJyZWN0Mzc4MCIKICAgICBzdHlsZT0iZmlsbDojZmZmZmZmO2ZpbGwtb3BhY2l0eToxO3N0cm9rZTpub25lIiAvPgo8L3N2Zz4K") !important; }

.mdl-checkbox__input:checked + span + span + .checkboxOutline {
  border-color: #7F7F7F !important; }

.mdl-checkbox__input:focus + span + .mdl-checkbox__focus-helper {
  background-color: #7F7F7F !important;
  opacity: 0.26 !important; }

/* Multiple Elements - Not Future Proof */
div#checkbox.checked.style-scope.paper-checkbox {
  background-color: #7F7F7F !important;
  border-color: #7F7F7F !important; }

.ui-page-theme-a .ui-btn.ui-btn-active, html .ui-bar-a .ui-btn.ui-btn-active,
html .ui-body-a .ui-btn.ui-btn-active,
html body .ui-group-theme-a .ui-btn.ui-btn-active,
html head + body .ui-btn.ui-btn-a.ui-btn-active,
.ui-page-theme-a .ui-checkbox-on:after, html .ui-bar-a .ui-checkbox-on:after,
html .ui-body-a .ui-checkbox-on:after,
html body .ui-group-theme-a .ui-checkbox-on:after,
.ui-btn.ui-checkbox-on.ui-btn-a:after {
  background-color: #7F7F7F !important;
  border-color: #7F7F7F !important;
  color: #ffffff; }

/* Individual Elements */
/* 1.1.2 Circles */
/* Multiple Elements */
.fab.blue, .fab.red, .fab.green, .fab.orange,
button.fab.mini.btnCloseDialog.autoSize.emby-button,
button.fab.mini.btnCloseDialog.emby-button {
  background-color: #7F7F7F !important; }

i.listItemIcon.md-icon {
  background-color: #7F7F7F; }

/* Individual Elements */
[is="emby-button"].detailFloatingButton, div.devicesList i.listItemIcon.md-icon,
div.paperList.activityItems i.listItemIcon.md-icon, .levelNormal {
  background-color: #7F7F7F !important; }

.listItem.scheduledTaskPaperIconItem[data-status="Running"] i.listItemIcon.md-icon {
  background-color: #535353 !important; }

/* 1.1.3 Radio Buttons */
/* Multiple Elements */
.ui-page-theme-a .ui-radio-on:after, html .ui-bar-a .ui-radio-on:after,
html .ui-body-a .ui-radio-on:after, html body .ui-group-theme-a .ui-radio-on:after,
.ui-btn.ui-radio-on.ui-btn-a:after {
  border-color: #7F7F7F !important; }

div[data-role="controlgroup"] a.ui-btn-active[data-role='button'] {
  background: #7F7F7F !important;
  color: #ffffff !important; }

/* Individual Elements */
.mdl-radio__button:checked + .mdl-radio__label + .mdl-radio__outer-circle {
  border: 2px solid #7F7F7F !important; }

.mdl-radio__inner-circle {
  background: #7F7F7F !important; }

a#radioInfo.radioTabButton.ui-btn-active,
a#radioDirectPlay.radioTabButton.ui-btn-active,
a#radioTranscoding.radioTabButton.ui-btn-active,
a#radioContainers.radioTabButton.ui-btn-active,
a#radioCodecs.radioTabButton.ui-btn-active,
a#radioMediaProfiles.radioTabButton.ui-btn-active {
  background: #7F7F7F !important;
  color: #ffffff !important; }

/* 1.1.4 Icons */
/* Playing Bars */
button.toggleRepeatButton.mediaButton.repeatActive,
button.btnCommand.repeatToggleButton.autoSize.nowPlayingPageRepeatActive,
button.autoSize.btnUserData.btnUserData.btnUserDataOn.paper-icon-button-light,
.mediaButton.active {
  color: #7F7F7F !important; }

/* Multiple Elements */
.btnActiveCast, .btnUserDataOn {
  color: #7F7F7F !important; }

/* Individual Elements */
button.autoSize.fab.btnUserData.btnUserData.btnUserDataOn.mini.emby-button,
button.autoSize.btnUserData.listItemButton.btnUserData.btnUserDataOn.paper-icon-button-light,
button.autoSize.btnUserData.btnUserData.btnUserDataOn.paper-icon-button-light {
  color: #7F7F7F !important; }

button.autoSize.fab.btnUserData.btnUserData.mini.emby-button {
  background-color: transparent !important;
  box-shadow: none !important; }

/* 1.1.5 Rectangles */
/* Multiple Elements */
button[is="emby-button"].raised:not(.subdued):not(.cancel) {
  background: #7F7F7F !important;
  color: #ffffff !important; }

/* Individual Elements */
button#btnShutdown.raised.subdued, button#btnRestart.raised.subdued,
#btnUpdateApplication, button.raised.subdued.btnRestartContainer,
button.btnHeaderSave.accent.autoSize.emby-button, #pPluginUpdates button {
  background: #101010 !important;
  color: #7F7F7F !important;
  border-color: #101010 !important; }

button#btnShutdown.raised.subdued:hover, button#btnRestart.raised.subdued:hover,
#btnUpdateApplication:hover, button.raised.subdued.btnRestartContainer:hover,
button.btnHeaderSave.accent.autoSize.emby-button:hover {
  background: #101010 !important;
  color: #9b9b9b !important; }

button#btnShutdown.raised.subdued:active, button#btnRestart.raised.subdued:active,
#btnUpdateApplication:active, button.raised.subdued.btnRestartContainer:active,
button.btnHeaderSave.accent.autoSize.emby-button:active {
  background: #101010 !important;
  color: #535353 !important; }

div.supporterPromotion button.raised.block {
  background: #7F7F7F !important;
  color: #ffffff !important; }

/* Individual Elements - Not Future Proof */
#popupAddTrigger > form > div.ui-content > ul > li:nth-child(7) > button:nth-child(1),
#boxsetsConfigurationForm > ul > li:nth-child(2) > button:nth-child(1),
#identificationHeaderPopup > div.ui-content > form > p > button:nth-child(1),
#xmlAttributePopup > div.ui-content > form > p > button:nth-child(1),
#popupEditDirectPlayProfile > div.ui-content > form > p > button:nth-child(1),
#transcodingProfilePopup > div.ui-content > form > p > button:nth-child(1),
#containerProfilePopup > div.ui-content > form > p:nth-child(4) > button:nth-child(1),
#codecProfilePopup > div.ui-content > form > p:nth-child(4) > button:nth-child(1),
#responseProfilePopup > div.ui-content > form > p > button:nth-child(1),
#subtitleProfilePopup > div.ui-content > form > p > button:nth-child(1),
#popupSchedule > div:nth-child(2) > form > ul > li:nth-child(4) > button:nth-child(2) {
  background: #7F7F7F !important;
  border-color: #7F7F7F !important;
  color: #ffffff !important; }

/* 1.1.6 Pop-up Dialogs */
/* Big Pop-up Dialogs */
/* Medium Pop-up Dialogs */
/* Small Pop-up Dialogs */
.promptDialogButton, .actionSheetScroller, button.btnPromptExit.emby-button,
button.btnSubmit.emby-button, button.btnCancel.emby-button {
  color: #7F7F7F !important;
  background: transparent !important; }

.promptDialogButton:hover, button.btnPromptExit.emby-button:hover,
button.btnSubmit.emby-button:hover, button.btnCancel.emby-button:hover {
  color: #9b9b9b !important; }

button.actionSheetMenuItem[is="emby-button"]:hover {
  color: #9b9b9b !important;
  background-color: transparent !important; }

.promptDialogButton:active, button.actionSheetMenuItem[is="emby-button"]:active,
button.btnPromptExit.emby-button:active, button.btnSubmit.emby-button:active,
button.btnCancel.emby-button:active {
  color: #535353 !important; }

/* 1.1.7 Others */
/* Multiple Elements */
div.emby-tabs-selection-bar {
  background: #7F7F7F !important; }

/* Individual Elements */
/* ----- 1.2 Details ----- */
/* 1.2.1 Icons */
/* Multiple Elements */
.starIcon, button[is="emby-button"].accent {
  color: #7F7F7F !important; }

div#pluginTiles i.md-icon, div.catalog i.md-icon {
  color: #7F7F7F !important; }

/* Individual Elements */
button.btnCast.headerButton.headerButtonRight.autoSize.btnActiveCast,
button.nowPlayingCastIcon.autoSize.paper-icon-button-light.btnActiveCast,
button.headerButton.headerAppsButton.barsMenuButton.headerButtonLeft.autoSize.paper-icon-button-light,
button.headerButton.headerButtonRight.dashboardEntryHeaderButton.autoSize.paper-icon-button-light,
button.headerButton.mainDrawerButton.barsMenuButton.headerButtonLeft.autoSize.paper-icon-button-light {
  color: #7F7F7F !important; }

/* 1.2.2 Fonts */
/* Links */
.ui-page-theme-a a, html .ui-bar-a a, html .ui-body-a a, html body .ui-group-theme-a a,
.ui-page-theme-a a:visited, html .ui-bar-a a:visited, html .ui-body-a a:visited,
html body .ui-group-theme-a a:visited, .ui-page-theme-b a, html .ui-bar-b a,
html .ui-body-b a, html body .ui-group-theme-b a, .ui-page-theme-b a:visited,
html .ui-bar-b a:visited, html .ui-body-b a:visited,
html body .ui-group-theme-b a:visited {
  color: #7F7F7F !important; }

.ui-page-theme-a a:hover, html .ui-bar-a a:hover, html .ui-body-a a:hover,
html body .ui-group-theme-a a:hover, .ui-page-theme-b a:hover,
html .ui-bar-b a:hover, html .ui-body-b a:hover, html body .ui-group-theme-b a:hover {
  color: #9b9b9b !important; }

.ui-page-theme-a a:active, html .ui-bar-a a:active,
html .ui-body-a a:active, html body .ui-group-theme-a a:active,
.ui-page-theme-b a:active, html .ui-bar-b a:active, html .ui-body-b a:active,
html body .ui-group-theme-b a:active {
  color: #535353 !important; }

/* Multiple Elements */
button.emby-tab-button.emby-tab-button-active.emby-button {
  color: #7F7F7F !important;
  border-color: #7F7F7F !important; }

.selectLabelFocused, .inputLabelFocused, .textareaLabelFocused,
.paper-input-container-0 .input-content.label-is-highlighted.paper-input-container label {
  color: #7F7F7F !important; }

/* Individual Elements */
div#pendingInstallations, .listItem .secondary span, p.disclaimer, .type-interior h2, div#divRunningTasks span {
  color: #7F7F7F !important; }

a.nowPlayingTabButton.selectedNowPlayingTabButton {
  color: #7F7F7F !important; }

/* 1.2.3 Main Drawers */
.drawerContent a.sidebarLink.selectedSidebarLink,
.darkDrawer .sidebarLink.selectedSidebarLink, .darkDrawer .selectedMediaFolder,
.drawerContent a.sidebarLink.selectedSidebarLink:hover,
.darkDrawer .sidebarLink.selectedSidebarLink:hover,
.darkDrawer .selectedMediaFolder:hover {
  background: #7F7F7F !important; }

/* 1.2.4 Metadata Editor */
div.jstree-wholerow.jstree-wholerow-clicked:hover,
div.jstree-wholerow.jstree-wholerow-clicked,
div.editorNode:hover + div.jstree-wholerow.jstree-wholerow-clicked {
  background: #7F7F7F !important;
  color: #ffffff !important; }

/* 1.2.5 Others */
/* Progress Bars */
.taskProgressInner {
  background: #7F7F7F !important; }

.itemProgressBarForeground {
  background-color: #7F7F7F !important; }

progress::-webkit-progress-value {
  background: #7F7F7F !important; }

progress::-moz-progress-bar {
  background: #7F7F7F; }

progress {
  background: #7F7F7F !important; }

/* Playing Bars */
.mdl-slider__background-lower, .sliderBubble,
.mdl-slider::-webkit-slider-thumb {
  background: #7F7F7F !important; }

/* Glow for Userview Cards */
div.homePageSection.section0 div.cardScalable,
div.homePageSection.section0 div.cardScalable.withHoverMenu {
  border: 1px solid rgba(127, 127, 127, 0.5);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(127, 127, 127, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(127, 127, 127, 0.6); }

/* Multiple Elements */
:focus {
  outline: #7F7F7F auto 5px; }

select:focus {
  border-color: #7F7F7F !important; }

div.focused-line.style-scope.paper-input-container {
  background-color: #7F7F7F !important; }

::selection {
  background-color: #535353 !important; }

.playedIndicator, .countIndicator {
  background-color: #7F7F7F !important; }

.emby-select:focus + .emby-select-selectionbar,
.emby-input:focus + .emby-input-selectionbar,
.emby-textarea:focus + .emby-textarea-selectionbar {
  background-color: #7F7F7F !important; }

/* Individual Elements */
p#pUpToDate i.md-icon {
  background-color: #7F7F7F !important; }

div.selectionCommandsPanel {
  background: #7F7F7F !important; }

.itemSelectionPanel {
  border: 1px solid #7F7F7F !important; }

.mdl-spinner__layer-1, .mdl-spinner__layer-2, .mdl-spinner__layer-3, .mdl-spinner__layer-4 {
  border-color: #7F7F7F !important; }

/* ------------------ 2. MISCELLANEOUS MODIFICATIONS ----------------- */
/* ----- 2.1 Buttons ----- */
/* Multiple Elements */
/* Individual Elements */
/* ----- 2.2 Details ----- */
/* 2.2.1 Scrollbars */
/* Overall */
::-webkit-scrollbar-corner {
  background-color: #3B3B3B; }

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #3B3B3B; }

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: #888888; }

/* Dashboard Drawer */
div.scrollContainer.smoothScrollY::-webkit-scrollbar-corner {
  background-color: transparent; }

div.scrollContainer.smoothScrollY::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  background-color: transparent; }

div.scrollContainer.smoothScrollY::-webkit-scrollbar-thumb {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: #888888; }

/* 2.2.2 Home Drawer */
/* Backgrounds */
.darkDrawer {
  background-color: #222222 !important; }

.darkDrawer a.lnkMediaFolder.sidebarLink:hover {
  background: #4d4d4d;
  color: #ffffff !important; }

/* Icons */
.darkDrawer a.lnkMediaFolder.sidebarLink:hover .sidebarLinkIcon {
  color: #ffffff !important; }

.darkDrawer .sidebarLinkIcon {
  color: #bbbbbb; }

.darkDrawer .selectedMediaFolder i.md-icon.sidebarLinkIcon {
  color: #ffffff !important; }

/* Fonts */
.darkDrawer a.lnkMediaFolder.sidebarLink:hover .sidebarLinkText {
  color: #ffffff !important; }

.darkDrawer a.sidebarLink, .darkDrawer .sidebarLinkText, .darkDrawer .sidebarHeader {
  color: #bbbbbb !important; }

.darkDrawer .selectedMediaFolder span.sectionName,
.darkDrawer .selectedMediaFolder .sidebarLinkText {
  color: #ffffff !important; }

/* 2.2.3 Metadata Editor */
div.jstree-wholerow.jstree-wholerow-hovered {
  background: #4d4d4d !important; }

a.sidebarLink.lnkMediaFolder.selectedMediaFolder i.md-icon.sidebarLinkIcon {
  color: #ffffff !important; }

div.editorNode, div.editorNode:hover, div.editorNode:active,
a#MediaFolders_anchor.jstree-anchor {
  color: #ffffff !important; }

/* 2.2.4 Others */
/* Image Files */
.imgLogoIcon, .adminDrawerLogo img {
  content: url(https://cdn.rawgit.com/BenZuser/Emby-Dark-Themes-Resources/master/images/logos-and-icons/GRAY/logo.png) !important; }

.lnkMediaFolder div:first-child {
  background-image: url(https://cdn.rawgit.com/BenZuser/Emby-Dark-Themes-Resources/master/images/logos-and-icons/GRAY/mblogoicon.png) !important; }

/* Home */
.background-theme-b .backgroundContainer {
  background-color: #181818; }

/* Dashboard */
.directoryPickerHeadline {
  color: #ffffff !important;
  background: #404040 !important; }

/* ----- 2.3 Corrections ----- */
/* CSS Box */
#txtCustomCss {
  height: 300px !important;
  overflow-y: scroll !important; }

/* Tomatometer */
div#criticRatingSummary.paperList {
  background-color: transparent !important;
  box-shadow: 0 2px 2px 0 transparent, 0 1px 5px 0 transparent, 0 3px 1px -2px transparent; }

/* Top, Bottom & Playing Bars */
.viewMenuBar, .ui-body-b .libraryViewNav, .nowPlayingBar {
  background-color: #101010 !important;
  opacity: 0.94 !important; }

.footerNotification {
  background-color: #101010 !important;
  opacity: 0.94 !important;
  border-top: 1px solid transparent !important; }

/* Others */
select:focus {
  outline: transparent auto 5px !important; }

/* ----------------------- 3. REMOVED ELEMENTS ----------------------- */
/* ----- 3.1 Home ----- */
/* Glow Light around image in Media Detail Page */
.itemDetailGalleryLink img:hover {
  -moz-box-shadow: 0 0 20px 3px transparent !Important;
  -webkit-box-shadow: 0 0 20px 3px transparent !Important;
  box-shadow: 0 0 20px 3px transparent !Important; }

/* Similar Contents and Scenes in Media Detail Page */
#similarCollapsible, #scenesCollapsible {
  display: none !important; }

/* ----- 3.2 Dashboard ----- */
/* ----- 3.3 Metadata Editor ----- */
/* ----- 3.4 Others ----- */
/* ------------------------- 4. DARK COLORS -------------------------- */
/* ----- 4.1 Buttons ----- */
/* 4.1.1 Checkboxes */
/* Multiple Elements */
div#checkbox.style-scope.paper-checkbox, span.checkboxOutline {
  border-color: #ffffff; }

/* Individual Elements */
/* 4.2.2 Radio Buttons */
/* Multiple Elements */
div[data-role="controlgroup"] a[data-role='button'],
#dlnaProfilePage [data-role="button"] {
  background: #404040 !important;
  color: #ffffff !important;
  border-color: #343434 !important; }

/* Individual Elements */
/* 4.1.3 Rectangles */
/* Multiple Elements */
button[is="emby-button"].cancel, button[is="emby-button"].subdued,
.ui-body-a .emby-collapsible-button {
  background: #404040 !important;
  color: #ffffff !important; }

button[is="emby-button"].cancel:hover, button[is="emby-button"].subdued:hover {
  background: #404040 !important;
  color: #ffffff !important; }

[is="emby-button"].raised {
  color: #ffffff;
  background: #404040; }

.ui-page-theme-a .ui-btn, html .ui-bar-a .ui-btn, html .ui-body-a .ui-btn,
html body .ui-group-theme-a .ui-btn, html head + body .ui-btn.ui-btn-a,
.ui-page-theme-a .ui-btn:visited, html .ui-bar-a .ui-btn:visited,
html .ui-body-a .ui-btn:visited, html body .ui-group-theme-a .ui-btn:visited,
html head + body .ui-btn.ui-btn-a:visited, ul[data-role="listview"] a + a {
  background-color: #404040 !important;
  border-color: #404040 !important;
  color: #ffffff !important; }

/* Individual Elements */
#aboutPage > div > div > div > a:nth-child(10),
#aboutPage > div > div > div > a:nth-child(13),
#aboutPage > div > div > div > a:nth-child(16),
#popupAddTrigger > form > div.ui-content > ul > li:nth-child(7) > button:nth-child(2),
#boxsetsConfigurationForm > ul > li:nth-child(2) > button:nth-child(2),
#boxsetsConfigurationForm > ul > li:nth-child(4) > button,
#identificationHeaderPopup > div.ui-content > form > p > button:nth-child(2),
#dlnaProfilePage > div.ui-content > div > form > div.tabContent.tabInfo > div:nth-child(10) > div > p:nth-child(2) > button,
#xmlAttributePopup > div.ui-content > form > p > button:nth-child(2),
#dlnaProfilePage > div.ui-content > div > form > div.tabContent.tabDirectPlayProfiles > button,
#dlnaProfilePage > div.ui-content > div > form > div.tabContent.tabTranscodingProfiles > button,
#dlnaProfilePage > div.ui-content > div > form > div.tabContent.tabContainerProfiles > button,
#dlnaProfilePage > div.ui-content > div > form > div.tabContent.tabCodecProfiles > button,
#dlnaProfilePage > div.ui-content > div > form > div.tabContent.tabMediaProfiles > button,
#popupEditDirectPlayProfile > div.ui-content > form > p > button:nth-child(2),
#transcodingProfilePopup > div.ui-content > form > p > button:nth-child(2),
#containerProfilePopup > div.ui-content > form > p:nth-child(4) > button:nth-child(2),
#codecProfilePopup > div.ui-content > form > p:nth-child(4) > button:nth-child(2),
#responseProfilePopup > div.ui-content > form > p > button:nth-child(2),
#subtitleProfilePopup > div.ui-content > form > p > button:nth-child(2),
#userParentalControlPage > div.ui-content > div > form > div.accessScheduleSection > div > div > button,
#popupSchedule > div:nth-child(2) > form > ul > li:nth-child(4) > button:nth-child(3),
#serverSecurityPage > div > div > table > tbody > tr > td:nth-child(1) > button {
  background: #404040 !important;
  border-color: #404040 !important;
  color: #ffffff !important; }

/* 4.1.4 Others */
/* Multiple Elements */
/* Individual Elements */
/* ----- 4.2 Details ----- */
/* 4.2.1 Icons */
/* Multiple Elements */
.selectArrow, .emby-button.iconRight i, .paper-icon-button-light,
div.dialogContent.smoothScrollY .paper-icon-button-light > i {
  color: #ffffff !important; }

/* Individual Elements */
.listItem.lnkPath.lnkDirectory i.md-icon {
  color: #ffffff !important; }

/* 4.2.2 Fonts */
/* Multiple Elements */
select, input, h1, h2, h3, p, table, legend, div.legend {
  color: #ffffff !important; }

.checkboxLabel, .paperListLabel, .listItemBodyText, .detailSectionHeader, .visualCardBox .cardFooter,
.activeSession:not(.playingSession) .sessionNowPlayingInnerContent,
.listItemBody > div:not(.secondary), div.listItemBody a.clearLink, div.paperList,
div.formDialogContent.smoothScrollY div,
.paper-input-container-0 .input-content.paper-input-container textarea {
  color: #ffffff !important; }

label, .selectLabel, .inputLabel, .textareaLabel {
  color: #bbbbbb; }

.selectLabelUnfocused, .inputLabelUnfocused, .textareaLabelUnfocused {
  color: #bbbbbb !important; }

.fieldDescription, .listItem .secondary {
  color: #aaaaaa !important; }

/* Individual Elements */
div#checkboxLabel.style-scope.paper-checkbox, div#appVersionNumber,
div.criticRatingSummaryText.secondary, div.syncActivity, div#ratingLine,
span.storeItemReviewText, div#revisionHistory div {
  color: #ffffff !important; }

form.localAccessForm.localAccessSection div {
  color: #ffffff; }

#txtCustomCss {
  color: #ffffff !important; }

/* 4.2.3 Dashboard Drawer */
/* Backgrounds */
.adminDrawer .scrollContainer {
  background-color: #222222 !important; }

.adminDrawer a.sidebarLink:hover {
  background: #4d4d4d !important;
  color: #ffffff !important; }

/* Icons */
.adminDrawer a.sidebarLink:hover .sidebarLinkIcon {
  color: #ffffff !important; }

.adminDrawer .sidebarLinkIcon {
  color: #bbbbbb !important; }

/* Fonts */
.adminDrawer a.sidebarLink:hover {
  color: #ffffff !important; }

.adminDrawer a.sidebarLink, .adminDrawer div.sidebarHeader {
  color: #bbbbbb !important; }

/* Others */
.sidebarDivider {
  background: #343434 !important; }

.adminDrawerLogo {
  border-bottom: 1px solid #343434 !important; }

/* 4.2.4 Pop-up Dialogs */
/* Big Pop-up Dialogs */
.dialog.background-theme-a, .dialog.background-theme-b {
  background-color: #181818; }

.ui-body-a div.formDialogHeader, .ui-body-b div.formDialogHeader {
  background-color: #101010; }

/* Medium Pop-up Dialogs */
.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit,
html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit {
  background-color: #101010 !important;
  border-color: #101010 !important; }

.ui-page-theme-a .ui-body-inherit, html .ui-bar-a .ui-body-inherit,
html .ui-body-a .ui-body-inherit, html body .ui-group-theme-a .ui-body-inherit,
html .ui-panel-page-container-a, .ui-popup.ui-body-a {
  background-color: #010101 !important;
  border-color: #101010 !important; }

div.focuscontainer.dialog.smoothScrollY.ui-body-a.background-theme-a.formDialog.centeredDialog.opened {
  background-color: #010101 !important;
  color: #bbbbbb; }

.mdl-radio__outer-circle {
  border-color: #101010 !important; }

/* Small Pop-up Dialogs */
.dialog:not(.background-theme-a):not(.background-theme-b) {
  background-color: #010101 !important;
  color: #bbbbbb; }

/* 4.2.5 Backgrounds */
/* Multiple Elements */
.background-theme-a .backgroundContainer {
  background-color: #181818 !important; }

.ui-body-a .collapseContent {
  background-color: #080808 !important; }

.paperList, .ui-body-a .visualCardBox .cardScalable,
.ui-body-a .visualCardBox .cardFooter,
.activeSession:not(.playingSession) .sessionNowPlayingInnerContent,
.ui-body-a .editorTileFooter, .ui-body-b .editorTileFooter {
  background-color: #2b2b2b !important; }

ul[data-role="listview"] > li[data-role="list-divider"] {
  background: #2b2b2b !important; }

/* Individual Elements */
div.card.activeSession > div > div:nth-child(2) {
  background: #2b2b2b !important;
  border-top: 1px solid #343434 !important;
  color: #ffffff !important; }

div.downloadLanguages.paperList.paperCheckboxList {
  background-color: #080808 !important; }

.ui-body-a .emby-collapsible-content, div.ui-collapsible-content.ui-body-inherit,
div.directPlayProfiles, div.transcodingProfiles, .containerProfiles,
.codecProfiles, .mediaProfiles {
  border: 1px solid transparent;
  background-color: #080808; }

/* 4.2.6 Others */
/* Multiple Elements */
.ui-body-a .detailSectionHeader {
  border: 1px solid #343434;
  border-width: 0 0 1px 0; }

input:not(.paper-input):not([type='checkbox']):not([type='radio']):not([type='file']):not([type='range']):not([is='emby-input']) {
  background: #010101;
  border-color: #404040; }

ul[data-role="listview"], ul[data-role="listview"] > li {
  border-color: #2b2b2b !important; }

/* Individual Elements */
html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit {
  background-color: #343434 !important;
  border-color: #343434 !important; }

/*
_____________________________________________________________________

Emby Dark Themes is maintained by Ben Z (BenZuser)
with the contribution of Happy2Play.
_____________________________________________________________________

*/
